<head>
    <meta charset="UTF-8">
    <title>Bookings | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
</head>