<!DOCTYPE html>
<html>
<% include partials/head %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= title %></h1>
    <body>
    <table>
    <h2><b>Batman Workshop Booking System:</b></h2>
    <p>
        Our Batman Workshop Booking System offers a seamless 
        and user-friendly experience for fans eager to secure 
        their slots for the next thrilling installment of the 
        Dark Knight workshop. Easily accessible through our website, 
        the system allows users to browse times, input your selected option, 
        view all your bookings, and complete the booking process with just a few clicks.
    </p>
    <br>
    <p>
        Featuring an intuitive interface users can use the system to secure online payments, 
        ensuring a quick and hassle-free reservation process. 
    </p>
    </table>
    </body>

<%- include('./partials/foot.ejs') %>
</body>
</html>