<!DOCTYPE html>
<html>
<%- include partials/head %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="wrapper">
        <h1>Help Page</h1>
        <div class="ra-r"></div>
        <div style="margin: 0 auto; width: 50%; padding: 30px">
            <h2>Frequently Asked Questions (FAQ)</h2>
            <ul>
                <li>
                    <b>How to Book a Batman Workshop?</b>
                    <p>To book a Batman workshop, first login or register an account.
                        Once logged in navigate to the "Book Batman Workshop" page and fill out the 
                        form with the required details. You can then view all your bookings through the bookings page.
                        If you wish to delete a booking, navigate to the delete a booking page. If you wish to modify 
                        details about your booking, navigate to the modify a booking page.
                    </p>
                </li>
                <li>
                    <b>How to View My Bookings?</b>
                    <p>You can view your booked Batman workshops on the "Bookings" page. Make sure you are logged in to see your personalized list.</p>
                </li>
            </ul>

            <h2>Contact Information</h2>
            <p>If you have any further questions or need assistance, feel free to contact our support team at support@batmanworkshop.com.</p>
        </div>
    </div>
    <%- include partials/foot %>
</body>
</html>