<!DOCTYPE html>
<html>
<% include partials/head %>
<body>
    <%- include('./partials/nav.ejs') %>
        <h1><%= title %></h1>
        <br>
        <br>
        <div>
            <a class="thumb-pr r-e" href="/batmans/create"><b>Book Workshop</b></a>
            <p>Welcome to the official Batman Booking System, your exclusive gateway to the cinematic realm of the Dark Knight. 
                Here, you have the power to embark on epic adventures in Gotham City by booking slots to the latest Batman workshop!
            </p>
            <p>
            Dive into the gripping world of Batman by selecting times 
            and effortlessly booking slots to this exciting workshop!. Secure your spot for an unforgettable experience!
            </p>
        </div>
    <% include partials/foot %>
    </body>
</html>