<!DOCTYPE html>
<html>
<% include partials/head %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= title %></h1>
    <body>
    <table>
    <h2><b>Batman Workshop Reports:</b></h2>
    <p>
        <b>Batman's Future-Tech Fun Camp:</b>
    </p>
        <b>Date:</b> December 1-31, 2023
    </p>
        <b>Location:</b> Town Hall
    </p>
        Get ready for a super cool adventure in the future with Batman! Join our workshop to discover 
        the amazing gadgets and gizmos that make Batman Beyond awesome. You'll even design your own 
        futuristic Bat-gadgets and go on a virtual mission. Don't miss meeting Batman Beyond himself, Terry McGinnis!
    </p>
    <br>
    <p>
        <b>Detective Kids:</b>
    </p>
        <b>Date:</b> January 1-31, 2023
    </p>
        <b>Location:</b> Town Hall
    </p>
        Become a detective with Batman! Visit Wayne Manor and learn the secrets of solving mysteries. 
        We'll explore crime scenes, use cool detective tools, and even visit the Batcave. Get ready to 
        solve cases just like Batman does!
    </p>
    <br>
    <p>
        <b>Batman's Tech Adventure Expo:</b>
    </p>
        <b>Date:</b> February 1-31, 2023
    </p>
        <b>Location:</b> Town Hall
    </p>
        Discover the awesome gadgets and vehicles Batman uses to keep Gotham safe! At Wayne Enterprises, you'll meet Batman's 
        engineers, see the Bat-suit up close, and check out the coolest Batmobile ever. Join us for a fun day of crime-fighting 
        tech and superhero excitement!
    </p>
    </table>
    </body>

<%- include('./partials/foot.ejs') %>
</body>
</html>